[Unit]
Description=nmea

[Service]
ExecStart=/home/pi/canbus.sh
Restart=always
RestartSec=5
WorkingDirectory=/home/pi/

[Install]
WantedBy=multi-user.target
Alias=nmea.service
